@font-face {
    font-family: "Montserrat Regular";
    src: url("http://localhost:5000/static/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("http://localhost:5000/static/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Terminus";
    src: url("http://localhost:5000/static/fonts/Terminus/Terminus.ttf") format("truetype");
}

body {
    background-image: url("http://localhost:5000/static/images/bg.jpg");
    background-repeat: repeat-y;
    background-size: cover;
}
* {
    font-family: "Montserrat Regular", monospace;
}

footer {
    font-size: 20px;
    font-family: "Montserrat Italic", "Montserrat Regular";
    margin: 5px;
}
h1 {
    text-align: center;
}
a {
    text-decoration: none;
}
.error * {
    background-color: red;
    border-radius: 20px;
    border: 2px solid black;
    font-family: 'Terminus';
    text-align: center;
    width: 100%;
}
.error h2 {
    font-size: 30px;
}
.error h3 {
    background-color: yellow;
}
.error span {
    background-color: black;
    color: red;

}
.error a {
    background-color: inherit;
    border: none;
    text-align: justify;
}