<nav>
    <ul>
        <li><a href="/nojs">Index</a></li>
        <li><a href="/nojs/about">About us</a></li>
        <li class="menu"><span>Posts</span>
        	<ul>
         		<li>Cytology</li>
            		<li>Anatomy</li>
            		<li>Zoology</li>
            		<li>Botanics</li>
        	</ul>
		</li>
		<li><a href="/nojs/links">Links</li>
	</ul>
	<hr>
	<ul>
		<li></li>
		<li><a href="/nojs/users/singup">Login/Singup</a></li>
	</ul>
</nav>
